.productCard__images {
  height: 4.5vw;
  cursor: pointer;
}

.productCard__images:hover {
  border: 1px solid black;
  border-radius: 10px;
}

.productCard__container {
  position: relative;
}

.productCard__imagesBorder {
  border: 1px solid green;
  border-radius: 10px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .productCard__images {
    height: 10vw;
  }
}

@media  (min-width: 900px) and (max-width: 1200px) {
  .productCard__images {
    height: 5.5vw;
  }
}
